* {
    margin: 0;
    padding: 0;

}

.home {
    background-color: rgb(25, 25, 182);
    width: 100vw;
    height: 100vh;
    background-image: url("img/ponte-guaiba-porto-alegre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken, luminosity;

}

.header {
    width: 100vw;
    height: 80px;
    background-color: rgb(169, 186, 245);
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 15px rgba(22, 22, 31,0.4);
    background-repeat: repeat-x;
    background-position: 5px;



}

.logo {
    margin-left: 90px;
}

.logo img {
    height: 80px;
}

.menu {
    margin-right: 90px;
    height: 80px;

}

.main-content {
    font-size: 150px;
    font-family: 50px;
    color:rgb(255, 255, 255);
    font-family: 'Rubik Microbe', cursive;
}   

ul {
    display: flex;
    align-items: center;
    height: 80px;
    list-style: none;




}

li {
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: aquamarine;




}

a:link {
    text-decoration: none;
}

li:hover {
    background-color:#687BF7;
}
.empresa{
   
    height: 500px;
}